.nodes-add .title .title-number {
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 10px;
    text-align: center;
    width: 20px;
    height: 20px;
}

.nodes-add .bottom {
    margin: 10px 0 10px 30px;
    position: relative;
    width: 300px;
}

.nodes-add .bottom .bottom-input {
    width: 292px;
    height: 150px;
    font-size: 14px;
}

.nodes-add .bottom >span {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
